<div class="container">
  <h1 class="title is-1">Duplicate Episodes</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    </thead>
    <% @episodes.each do |episode| %>
      <tr>
        <td>
          <%= episode.id %>
        </td>
        <td>
          <%= link_to episode.name, episode_url(episode) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
