@import "~bulma/bulma"

.my-main
  height: 100%

@media (max-width: 1224px)
  .content-wrapper
    display: flex
    flex-direction: column
    height: calc(100vh - 74px)

  .sidebar
    flex: none

  .my-content
    order: 2
    flex: 1

  .my-aside
    order: 1
    flex: 1

  .scrollable
    height: 100%
    overflow: auto

  .feed-select-wrapper
    margin: 0.75rem


@media (min-device-width: 1224px)
  .content-wrapper
    display: flex
    height: calc(100vh - 74px)

  .sidebar
    flex: none

  .my-content
    flex: 1

  .my-aside
    flex: 1

  .scrollable
    height: 100%
    overflow: auto

  .feed-select-wrapper
    margin: 0.75rem
