<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <link rel="icon" type="image/png" href="logo-small.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= action_cable_meta_tag %>
  <title><%= content_for?(:title) ? yield(:title) : "RSS Tracker" %></title>
  <%= stylesheet_pack_tag 'application' %>
</head>
<body>
<div id="root"></div>
<%= javascript_pack_tag 'application' %>
</body>
</html>
