<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "RSS Tracker" %></title>
</head>
<body>
<header>
</header>
<main role="main">
  <%= yield %>
  <div id="root"></div>
  <%= javascript_pack_tag 'application' %>
</main>
</body>
</html>
